<html>
  <head>
    <title>Cesium JS</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimal-ui"/>
    <base href="../" target="_blank">
    <link rel="stylesheet prefetch" href="https://cesiumjs.org/Cesium/Apps/Sandcastle/templates/bucket.css">
    <link rel="stylesheet" href="static/csmap.css">
  </head>
  <body>
    <div id="map" class="fullSize"></div>
    <div id="buttons">
      <button id="zoom">Zoom on Swiss</button>
      <button id="morph">Switch to 2d/3d</button>
      <button id="toggleBuildings">Toggle buildings</button>
    </div>
    <div id="toolbar"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--script src="https://mf-geoadmin3.int.bgdi.ch/gjn_3dtiles/src/lib/Cesium/Cesium.js"></script>
    -->
    <script
    src="https://map.geo.admin.ch/master/459c382/1711021441/src/lib/Cesium/Cesium.js"></script>
    <script src="static/jquery.query-object.js"></script>
    <script src="static/common.js"></script>
    <script src="static/csmap.js"></script>
  </body>
</html>

