<html>
  <head>
    <title>Mapbox GL JS</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet prefetch" href="https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet prefetch" href="${branch_name}static/glmap.css">
  </head>
  <body>
    <div class="vib-header">
      <div class="vib-langselector pull-left">
        <select class="form-control input-sm">
          <option value="all">all</option>
          <option value="de">de</option>
          <option value="fr">fr</option>
          <option value="it">it</option>
          <option value="rm">rm</option>
        </select>
      </div>
      <div class="vib-backgroundselector pull-left">
        <select class="form-control input-sm">
          <option value="swissimage">Swissimage</option>
          <option value="pixelkarte">Pixelkarte</option>
        </select>
      </div>
      <div class="vib-layerselector pull-left">
        <select class="form-control input-sm">
          <option value="cj12a02uq007z2rqu53z4en4o">White Labels</option>
          <option value="cj12a1m35008g2ro9oq32r7f8">Black Labels</option>
          <option value="cj12a312p008i2smzu8jjtk1f">Big Labels</option>
        </select>
      </div>
      <div class="vib-layerid pull-left"></div>
    </div>
    <div id="gl-map" class="mapbox"></div>
    <script src="https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="${branch_name}static/jquery.query-object.js"></script>
    <script src="${branch_name}static/common.js"></script>
    <script src="${branch_name}static/glmap.js"></script>
  </body>
</html>
