<html>
  <head>
    <title>VIB Demos</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimal-ui"/>
  </head>
  <body>
    <h2>VIB Demos</h2>
    <ul>
      <li><a href="glmap.html">MapBox</a></li>
      <li><a href="olmap.html">OpenLayers</a></li>
      <li><a href="tgmap.html">Tanagram</a></li>
      <li><a href="csmap.html">CesiumJS</a></li>
      <li><a href="compareglmap.html?lng=8.55&lat=47.37&zoom=12&style=test-multi-dkm-geometry&styleToCompare=test-dkm10-geometry&lang=all&background=none">Mapbox Style SxS</a></li>
    </ul>
  </body>
</html>
