<html>
  <head>
    <title>Tangram JS</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimal-ui"/>
    <base href="../" target="_blank">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css">
    <link rel="stylesheet" href="static/tgmap.css">
  </head>
  <body>
    <div id="map"></div>
    <a id="mapzenLink" class="box" href="https://mapzen.com/tangram/play/?scene=https%3A%2F%2Fmapzen.com%2Fapi%2Fscenes%2F46449%2F453%2Fresources%2Fbasic.yaml#7.583/46.596/8.735">Mapzen
    play link</a>
    <div id="info" class="box"></div>
    <div id="properties" class="box">
      <h3>Modify layer's properties</h3>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://mapzen.com/tangram/tangram.debug.js"></script>
    <script src="static/jquery.query-object.js"></script>
    <script src="static/common.js"></script>
    <script src="static/tgmap.js"></script>
  </body>
</html>

