#layersCarousel {
  z-index: 2;
}
#layersCarousel .item {
  text-align: center;
}
#layersCarousel .carousel-inner {
  padding: 25px;
  background-color: darkgray;
  color: white;
  font-size: 17px;
  opacity: 0.8;
}
#layersCarousel .carousel-control span {
  margin-top: -16px;
}
#layersCarousel .carousel-indicators {
  bottom: -3px;
}
#layersCarousel .item button {
  margin: 2px;
  background-color: cornflowerblue;
}
#layersCarousel .item button:hover {
  background-color: white;
  color: black;
}
#layersCarousel .item button.btn.btn-sm.active {
  background-color: white;
  color: black;
}

#vib-properties {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
}

#vib-properties table {
  color: white;
  margin: 10px;
}

#vib-properties td {
  padding: 0 5px;
}

#vib-properties tr:hover {
  border: 1px solid orange;
}

#vib-filter {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
}

#vib-filter input, 
#vib-filter button {
  color: black;
}
